<FORM method=post action="">

<h2>Materias</h2>

<TR>
<TD>Carrera</TD>
<TD>

<SELECT name="id_career">
<OPTION VALUE="cargar-carreras">test</OPTION>

</SELECT>
</TD>
</TR>


<TD>Código de Materia</TD>
<TD>
<INPUT type=text name="subject_code">
</TD>
</TR>




<TD>Nombre de la Materia</TD>
<TD>
<INPUT type=text name="subject_name">
</TD>
</TR>

<TR>
<TD>Observacion</TD>
<TD>
<INPUT type=text name="subject_description">
</TD>
</TR>


<TR>
<TD>Créditos</TD>
<TD>
<INPUT type=text name="subject_credits">
</TD>
</TR>

<TR>
<TD>Semestral si-no</TD>
<TD>
<INPUT type=text name="subject_biannual">
</TD>
</TR>



<TR>
<TD>Número de Semestre</TD>
<TD>
<INPUT type=text name="subject_year_number">
</TD>
</TR>





<TR>
<TD COLSPAN=2>
<INPUT type="submit" value="Enviar">
</TD>
</TR>
</TABLE>
</FORM>