html {
	height: 100%;
	box-sizing: inherit;
}


body {
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}

.page-container {
	margin-top: 20px;
}


.preloader {
	width: 100%;
	height: 100%;
	position: absolute;
	
	background: #fff;
	z-index: 1000;
	
}	


.preloader .icon {
	background: url('../images/preloader-icon.webp');
	background-size: 200px 150px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 200px;
	height: 150px;
	margin: 200px auto;
}

.dlg-hidden  {
	visibility: hidden;
}


.btn-default {
	width: 90px;
}

.btn-margin-label {
	margin-top: 31px;
}


.custom-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 20px 0px;
    background: #dc3545;
    color: #fff;
}

h2.title-page {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}