<FORM method=post action="">

<h2>Asistencia Alumno</h2>


<TD>Código de Alumno</TD>
<TD>
<INPUT type=text name="student_code">
</TD>
</TR>

<TR>
<TD>Documento de Identidad</TD>
<TD>
<INPUT type=text name="student_ci">
</TD>
</TR>



<TD>Nombres</TD>
<TD>
<INPUT type=text name="student_name">
</TD>
</TR>

<TR>
<TD>Apellidos</TD>
<TD>
<INPUT type=text name="student_last_name">
</TD>
</TR>




<TR>
<TD>Fecha</TD>
<TD>
<INPUT type=date name="fecha">
</TD>
</TR>

<TR>
<TD>Materia</TD>
<TD>

<SELECT name="materia">
<OPTION VALUE="cargar-materias">test</OPTION>

</SELECT>
</TD>
</TR>


<TR>
<TD>Curso</TD>
<TD>

<SELECT name="curso">
<OPTION VALUE="cargar-curso">test</OPTION>

</SELECT>
</TD>
</TR>

<TR>
<TD>Carrera</TD>
<TD>

<SELECT name="carrera">
<OPTION VALUE="cargar-carreras">test</OPTION>

</SELECT>
</TD>
</TR>


<TR>
<TD COLSPAN=2>
<INPUT type="submit" value="Enviar">
</TD>
</TR>
</TABLE>
</FORM>